.import/
export.cfg
export_presets.cfg

.mono/
data_*/

# Server Ignores
BomberBruhServer/.import/
BomberBruhServer/export.cfg
BomberBruhServer/export_presets.cfg

BomberBruhServer/.mono/
BomberBruhServer/data_*/